.appContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #d0e7ff, #a8c0ff);
}

.calculator {
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: 1.5rem;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.15);
  width: 320px;
}
