.display{
  width:100%;
  height:70px;
  border-radius:18px;
  font-size:2rem;
  font-weight:600;
  padding:12px;
  text-align:right;
  border:none;
  background:rgba(255,255,255,.6);
  backdrop-filter:blur(10px);
  margin-bottom:1rem;
}
